@inject IUserService UserService
@inject NavigationManager NavigationManager



<div class="user-card" style=" flex-basis: calc(33.3333% - 20px); margin: 10px; ">
    <div class="card shadow" style=" border-radius: 12px; border:0px; overflow:hidden; height:100%">
        <div class="card-body" style="padding: 0px;">
            <center class="m-t-30">

                <div class="profile-img">
                    <img src="@GetImagePath()" alt="user image" style="width: 100%;  height:15rem;
object-fit: cover;">
                </div>

            </center>
        </div>

        <div class="card-body">
            <h5 class="card-title m-t-10">@User.Name</h5>

            <div style="display:flex; align-content:center">
                <small class="text-details material-symbols-outlined me-1" style="font-size:20px">
                    work
                </small>
                <h6>
                    @User.Position
                </h6>
            </div>
        </div>

        <div class="card-body pt-0 pb-0">
            <div style="display:flex; justify-content:space-between">
                <div>
                    <small class="text-details bi bi-telephone"></small>
                    <h4>@User.Tel</h4>
                </div>
                <div>
                    <small class="text-details p-t-30 db bi bi-building"></small>
                    <h4>@User.Dept</h4>
                </div>
            </div>

        </div>

        <div style="text-align:left" class="card-body">

           
            <button class="btn btn-primary bi bi-binoculars me-2" @onclick="() => UserDetails(User.IdUser)">
            </button>

            <button class="btn btn-outline-primary bi bi-info-circle-fill">
            </button>
        </div>








    </div>

</div>



@code {
    [Parameter, EditorRequired]
    public User User
    { get; set; } = default!;


    private string GetImagePath()
    {
        @if (User.IMAGE_NAME is not null)
        {
            return $"/Images/{User.IMAGE_NAME}";
        }
        else
        {
            return $"/Images/default.svg";
        }
    }

    protected void UserDetails(int id)
    {
        NavigationManager.NavigateTo("/UserDetails/" + id);
    }


}